
.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;



  .about-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #388e3c;
    text-align: center;
  }

  @media (max-width: 768px) {
    .about-title {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 480px) {
    .about-title {
      font-size: 1.2rem;
    }
  }


  .responsive-container {
    display: flex;
    align-items: flex-start;
    max-width: 1300px;
    padding: 20px;
    gap: 20px;
    text-align: left;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
  }
  .image-container {
    width: 100%; /* Adjust to fit your layout */
    height: 200px;
    max-width: 300px; /* Max width for the container */
    overflow: hidden; /* Hide overflow to ensure image does not go outside the container */
    position: relative; /* Required for positioning */
    border-radius: 10px; /* Optional: rounded corners */
    //border: 2px solid #ddd; /* Optional: border for visibility */
  }

  .responsive-image {
    max-width: 300px;
    width: 100%;
    height: 100%;
    margin-right: 20px; /* Space between image and text */
    display: inline-block; /* Ensure the image is treated as a block-level element for margin purposes */

    transition: transform 0.3s ease-in-out; /* Smooth scaling */
    //object-fit: cover; /* Ensure the image covers its frame */
  }

  @media (max-width: 1024px) {
    .responsive-image {
      margin: 0 auto; /* Center image and add spacing below on smaller screens */
      display: block; /* Center image with block display */
    }
    .image-container{
      margin: 0 auto;
    }
  }


  .responsive-image:hover {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
  }


  .responsive-text-container {
    flex: 1;
    text-align: left;
  }


}