/* src/NotFound.css */
.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.not-found-image img {
    max-width: 100%;
    height: auto;
    width: 300px; /* Adjust as needed */
}
